
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
<form action="/locaddtable" method="post">
    
  
    <div class="container">


      <label >location</label>
      <input type="text" placeholder="location" name="location_id" id="location_id" disabled>
      <label >address</label>
      <input type="text" placeholder="address" name="address" id="address">
   

 
      <button  type="submit" value="edit" class="btn2">add location</button>
    
    </div>
   
  </form> 
  <form action="/" method='post'>
    <button type="submit" class="fa fa-home" style="font-size:20px;background-color:rgb(0, 132, 255);border-radius: 30px;height:40px;width: 100px;margin-left: 54%;">home</button>
    </form>
</body>