
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<form action="/locaddtable" method="post">
    
  
    <div class="container">


      <label >location</label>
      <input type="text" placeholder="location" name="location_id" id="location_id">
      <label >address</label>
      <input type="text" placeholder="address" name="address" id="address">
   

 
      <button  type="submit" value="edit" class="btn2">add location</button>
    
    </div>
   
  </form> 
</body>