
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<form action="/locprotable" method="post">
    
  
    <div class="container">


      <label ><b>product_id</b></label>
      
      <input type="text" placeholder="product_id" name="product_id" id="product_id">
   
      <label ><b>product_item</b></label>
      <input type="text" placeholder="product" name="produc" id="produc">
 
      <button  type="submit" value="edit" class="btn2"> add</button>
    
    </div>
    
  </form> 
</body>