
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body >
  
<form action="/update" method="post">
    

    <div class="container">
      <label ><b>movement_id</b></label>
      <input type="text" placeholder="movement_id" id="id" name ="id" value="{{user[0]}}" readonly="readonly">
      
      <label ><b>date</b></label>
      <input type="date" placeholder="Enter the date" name="date" id="date" value="{{user[1]}}">

      <label ><b>from_location</b></label>
      <input type="text" placeholder="from_location" name="from_location" id="from_location" value="{{user[2]}}">

      <label ><b>to_location</b></label>
      <input type="text" placeholder="to_location" name="to_location" id="to_location" value="{{user[3]}}">
      


      <label ><b>product_id</b></label>
      <input type="text" placeholder="product_id" name="product_id" id="product_id" value="{{user[4]}}">

      <label ><b>product</b></label>
      <input type="text" placeholder="product" name="product" id="product" value="{{user[5]}}">

      <label ><b>qty</b></label>
      <input type="text" placeholder="qty" name="qty" id="qty" value="{{user[6]}}">
  
      <button  type="submit" value="edit" class="btn2"> update</button>
    
    </div>
    </div>
   
  </form> 
  <form action="/" method='post'>
    <button type="submit" class="fa fa-home" style="font-size:20px;background-color:rgb(0, 132, 255);border-radius: 30px;height:40px;width: 100px;margin-left: 54%;">home</button>
    </form>

</body>