<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script>alert("Hi sir welcome?")</script>
        <h1><mark class="markline">ESS</mark>DEE Website</h1>
        
    </head>
    <body>
    <dev class="con">
        <form method="post" action="/" class="frm">   
        <button  type = "submit" value="VALUE4" name="action4"class="btn">chart</button>
      
        <button  type = "submit" value="VALUE3" name="action3" class="btn">Product</button>
       
        
        <button  type = "submit" value="VALUE2" name="action2"class="btn">Location</button>
     
       
        <button  type = "submit" value="VALUE1" name="action1"class="btn">ProductMove</button>

        
        
        </form>
    </dev>

    </body>
</html>