<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="static/js/data.js"></script>
        
</head>
<body>

  <dialog id="myFirstDialog"  >  
   
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">
          <div class="modal-body">
            <form action="/addtable" method="post">
    
              <label ><b>movement_id</b></label>
              <input type="text" placeholder="movement_id" name="movement_id" id="movement_id"  disabled>
            
              <label ><b>date</b></label>
              <input type="date" placeholder="Enter the date" name="date" id="date">
        
              <label ><b>from_location</b></label>
              <input type="text" placeholder="from_location" name="from_location" id="from_location">
        
              <label ><b>to_location</b></label>
              <input type="text" placeholder="to_location" name="to_location" id="to_location">
              
        
              <label ><b>product_id</b></label>
              <input type="text" placeholder="product_id" name="product_id" id="product_id">
        
              <label ><b>product</b></label>
              <input type="text" placeholder="product" name="product" id="product">
        
              <label ><b>qty</b></label>
              <input type="text" placeholder="qty" name="qty" id="qty">
          
              <button  type="submit" class="btn btn-danger"> add</button>
            </form> 


          </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="hide" >Close</button>
          
        </div>

      </div>  

    </div>    
  
      
  </dialog>  



  {% for message in get_flashed_messages()%}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  
    
    {{ message }}
    
    <a href="/viewdata" class="btn-close"aria-label="Close"></a>
  </div>
  {% endfor %}

  <h1><mark class="markline">ESS</mark>DEE Website</h1>

  <form action="/" method='post'>
  <button type="submit" class="fa fa-home" style="font-size:20px;background-color:red;border-radius: 30px;width: 70px; height: 40px;float: left;"></button>
  </form>


{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>page</th>
        <th>movement_id</th>
        <th>date</th>
        <th>from_location</th>
        <th>to_location</th>
        <th>product_id</th>
        <th>product</th>
        <th>qty</th>
        <th>action</th>
      </tr>
    </thead>

    <tbody>
     
      {% for user in x %}
        <tr>
        
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          <td>{{user[2]}}</td>
          <td>{{user[3]}}</td>
          <td>{{user[4]}}</td>
          <td>{{user[5]}}</td>
          <td>{{user[6]}}</td>
          
          <td>
         
          <form action="{{ url_for('editable', id=user[0]) }}" method='post'><button  type="submit" value="edit" class="btn1"> edit</button></form>
          </td>
          
          
         
         
        </tr>
        
      {% endfor %}
      <button type="submit" class="fa fa-plus"style="font-size:20px;background-color:blue;border-radius: 30px;width: 150px; height: 40px;float: right;" id="show" > add </button>
        

        
       
          


    </tbody>
  </table>

  {% endblock %}
  
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>