
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 
<form action="/locupdate" method="post">
    

    <div class="container">
      <label ><b>location_id</b></label>
      <input type="text"name="loction_id" id="loction_id" value="{{user[0]}}" readonly="readonly">
  
      <label ><b>address</b></label>
      <input type="text" placeholder="Enter the address" name="address" id="address" value="{{user[1]}}">

     
  
      <button  type="submit" value="edit" class="btn2"> edit</button>
    
      <a class="btn btn-primary" href="/" role="button" style="font-size:20px;background-color:rgb(0, 132, 255);height:40px;width: 100px;">Home</a>

    </div>
   
  </form> 
  
</body>