<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="static/js/data.js"></script>
    </head>
<body>

   

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/locaddtable" method="post">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">location:</label>
              <input type="text" class="form-control" id="location_id" name="location_id" disabled>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">address:</label>
              <input type="text" class="form-control" id="address" name="address">
            </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add address</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
    {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    
      
      {{ message }}
 
     
      <a href="/locatin" class="btn-close"aria-label="Close"></a>
   

    </div>
    {% endfor %}
    







  <h1><mark class="markline">ESS</mark>DEE Website</h1>
  <form action="/" method='post'>
    <button type="submit" class="fa fa-home" style="font-size:20px;background-color:red;border-radius: 30px;width: 70px; height: 40px;float: left;"></button>
    </form>
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>location_id</th>
        <th>address</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in x %}
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          
          <td>
         
            <form action="{{ url_for('locedit1', id=user[0]) }}" method='post'><button  type="submit" value="edit" class="btn1" id="showedit"> edit</button></form>
           
           
          </td>
          
         
        </tr>
      {% endfor %}
    
      <button type="button" class="btn1" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float:right;">add</button>
       
        
          


    </tbody>
  </table>

{% endblock %}


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>