<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="static/js/data.js"></script>
    </head>
<body>

  <dialog id="myFirstDialog"  >  
   
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">
          <div class="modal-body">
            <form action="/locaddtable" method="post">
    
              <div class="mb-3 row">
              <label  class="col-form-label" >location</label>
              <input type="text" placeholder="location" name="location_id" id="location_id" class="form-control" disabled>
              </div>
              <div class="mb-3 row">
              <label class="col-form-label" >address</label>
              <input type="text" placeholder="address" name="address" id="address" class="form-control">
              </div>
              <div class="mb-3 row">
            
              <button  type="submit" value="edit"  class="btn btn-danger" >add location</button>
           
              </div>
            </form> 


          </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="hide" >Close</button>
          
        </div>

      </div>  

    </div>    
  
      
  </dialog> 
  
  
    {% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    
      
      {{ message }}
 
     
      <a href="/locatin" class="btn-close"aria-label="Close"></a>
   

    </div>
    {% endfor %}
    







  <h1><mark class="markline">ESS</mark>DEE Website</h1>
  <form action="/" method='post'>
    <button type="submit" class="fa fa-home" style="font-size:20px;background-color:red;border-radius: 30px;width: 70px; height: 40px;float: left;"></button>
    </form>
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>location_id</th>
        <th>address</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in x %}
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          
          <td>
         
            <form action="{{ url_for('locedit1', id=user[0]) }}" method='post'><button  type="submit" value="edit" class="btn1" id="showedit"> edit</button></form>
           
           
          </td>
          
         
        </tr>
      {% endfor %}
    
        <button type="submit" class="fa fa-plus"style="font-size:20px;background-color:blue;border-radius: 30px;width: 150px; height: 40px;float: right;" id="show" > add </button>
       
        
          


    </tbody>
  </table>
{{ pagination.links }}
{{ pagination.info }}
{% endblock %}
</body>
</html>