

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    
    <dev class="con">
    <h1>pls add location</h1>


<form action="/locprotable">
    <button type="Return product"style="font-size:20px;background-color:rgb(0, 132, 255);border-radius: 30px;height:40px;width: 250px;margin-left:20%;">location_table</button>
    </form>
<form action="/" method='post'>
    <button type="submit" class="fa fa-home" style="font-size:20px;background-color:rgb(0, 132, 255);border-radius: 30px;height:40px;width:200px;margin-left: 25%;margin-top:10px">home</button>
</form>
</dev>
</body>