
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="static/js/data.js"></script>
</head>
<body>
  <div>  
    <dialog id="myFirstDialog" style="height: 50%;width:30%;background-color:#142bda;border:1px dotted rgb(216, 10, 10);margin-top: 10%;">  
    <p><q>I am so clever that sometimes I don't understand a single word of what I am saying.   
    </q> - <cite>Oscar Wilde</cite></p>  
    <button id="hide" class="btn1">Close</button>  
    </dialog>  
    <button id="show" class="btn2">Show Dialog</button>  
    </div>

{{ pagination.info }}
{{ pagination.links }}
<div class="table-responsive">
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>

    {% for user in users %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>

        

        

      </tr>
      
    {% endfor %}
    <tr><p>If you click on the "Hide" button, I will disappear.</p></tr>
    <button   class="btn2" id="btn3" >jquery test</button>

    
  </tbody>
</table>
</div>
{{ pagination.links }}
</body>
  
</html>