
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <script src="static/js/data.js"></script>
</head>
<body>
  <div >  
    <dialog id="myFirstDialog"  >  
   
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

          <div class="modal-content">
            <div class="modal-body">
              <form action="/locaddtable" method="post">
      
                <div class="mb-3 row">
                <label  class="col-form-label" >location</label>
                <input type="text" placeholder="location" name="location_id" id="location_id" class="form-control" disabled>
                </div>
                <div class="mb-3 row">
                <label class="col-form-label" >address</label>
                <input type="text" placeholder="address" name="address" id="address" class="form-control">
                </div>
                <div class="mb-3 row">
              
                <button  type="submit" value="edit"  class="btn btn-danger" >add location</button>
             
                </div>
              </form> 


            </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="hide" >Close</button>
            
          </div>

        </div>  

      </div>    
    
        
    </dialog>  
    <button id="show" class="btn2">Show Dialog</button>  
  </div>

{{ pagination.info }}
{{ pagination.links }}
<div class="table-responsive">
<table id="data" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>

    {% for user in users %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>

        

        

      </tr>
      
    {% endfor %}
    <tr><p>If you click on the "Hide" button, I will disappear.</p></tr>
    <button   class="btn2" id="btn3" >jquery test</button>

    
  </tbody>
</table>
</div>
{{ pagination.links }}
</body>
  
</html>